html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.clear { clear: both; height: 0; }

a { text-decoration: none; }

.out { position: relative; min-height: 100%; height: auto !important; height: 100%; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.l_center { width: 1000px; margin: 0 auto; *zoom: 1; }
.l_center:after { content: " "; display: table; clear: both; }

.header { width: 100%; position: fixed; top: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 9999; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header__menu { font-size: 0; float: left; margin-top: 30px; margin-left: 100px; }
.header__menu li { display: inline-block; }
.header__menu li:hover > a { border-color: #ffd739; }
.header__menu li:hover > a:before { display: none; }
.header__menu li:hover + li a:before { display: none; }
.header__menu li a { position: relative; display: block; padding: 0 10px; line-height: 36px; font-size: 12px; color: white; text-transform: uppercase; border: 3px solid transparent; -webkit-border-radius: 21px; border-radius: 21px; }
.header__menu li a:before { content: ""; position: absolute; left: -3px; top: 10px; width: 1px; height: 15px; background-color: white; }
.header__menu li:first-child a::before { display: none; }
.header__contact { width: 175px; float: right; margin-top: 27px; *zoom: 1; }
.header__contact:after { content: " "; display: table; clear: both; }
.header__contact_tel { float: right; color: white; text-transform: uppercase; font-size: 20px; }
.header__contact_mail { float: right; color: #ffd739; font-size: 13px; }

.logo { float: left; margin: 20px 0; background: url('../img/icons-s40080f2dba.png') 0 0 no-repeat; width: 162px; height: 57px; }
.logo h1 { font: 0/0 a; text-shadow: none; color: transparent; }

.key { position: relative; top: -50px; overflow: hidden; height: 811px; min-width: 100%; *zoom: 1; }
.key:after { content: " "; display: table; clear: both; }
.key__img { position: absolute; text-align: center; width: 3000px; left: 50%; margin-left: -1500px; z-index: 1; }
.key__wrap { width: 700px; margin: 0 auto; }
.key__list { width: 250px; float: left; margin-right: 130px; *zoom: 1; }
.key__list:nth-child(2n) { margin-right: 0; }
.key__list:after { content: " "; display: table; clear: both; }
.key__list li { float: left; list-style-image: url("../img/list__img.png"); font-size: 20px; margin-bottom: 20px; color: #656565; }
.key__container { position: relative; z-index: 4; padding-top: 175px; }

.big__title { text-align: center; font-size: 46px; color: #0e1314; margin: 50px 30px; }
.big__title i { position: absolute; bottom: 31px; left: 50%; width: 108px; height: 5px; margin-left: -54px; background-color: #ffd739; }

.portfolio { height: 1200px; vertical-align: top; *zoom: 1; }
.portfolio__big { position: relative; float: left; height: 600px; width: 50%; overflow: hidden; }
.portfolio__big:hover .portfolio__big_mask { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__big_wrap { position: absolute; width: 1000px; height: 600px; text-align: center; left: 50%; margin-left: -500px; }
.portfolio__big_wrap img { height: 600px; width: auto; }
.portfolio__big_mask, .portfolio__big .bg__green, .portfolio__big .bg__pink, .portfolio__big .bg__blue, .portfolio__big .bg__purple, .portfolio__big .bg__sun, .portfolio__big .bg__sea, .portfolio__big .bg__gold, .portfolio__big .bg__aqua { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; left: 20%; }
.portfolio__big_center { width: 450px; height: auto; text-align: center; -webkit-transition: opacity 2.5s ease; -moz-transition: opacity 2.5s ease; -ms-transition: opacity 2.5s ease; -o-transition: opacity 2.5s ease; transition: opacity 2.5s ease; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.portfolio__big_center h3 { text-transform: uppercase; color: white; font-size: 30px; }
.portfolio__big_center p { width: 450px; color: white; font-size: 16px; margin-top: 15px; }
.portfolio__big .btn { margin-top: 50px; }
.portfolio__small { position: relative; float: left; height: 300px; width: 50%; overflow: hidden; }
.portfolio__small:hover .portfolio__small_mask, .portfolio__small:hover .bg__green, .portfolio__small:hover .bg__pink, .portfolio__small:hover .bg__blue, .portfolio__small:hover .bg__purple, .portfolio__small:hover .bg__sun, .portfolio__small:hover .bg__sea, .portfolio__small:hover .bg__gold, .portfolio__small:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__small_mask { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; left: 20%; }
.portfolio__small_center { width: 300px; height: auto; text-align: left; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.portfolio__small_center h3 { text-transform: uppercase; color: white; font-size: 25px; line-height: 1.1; }
.portfolio__small_center p { width: 300px; color: white; font-size: 16px; margin-top: 10px; }
.portfolio__small_center .btn { padding: 5px 15px; margin-top: 15px; }
.portfolio__small_wrap { position: absolute; width: 500px; height: 300px; text-align: center; left: 50%; margin-left: -250px; }
.portfolio__small_wrap img { height: 300px; width: auto; }
.portfolio__hight { position: relative; float: left; height: 600px; width: 50%; overflow: hidden; }
.portfolio__hight:hover .portfolio__small_mask, .portfolio__hight:hover .bg__green, .portfolio__hight:hover .bg__pink, .portfolio__hight:hover .bg__blue, .portfolio__hight:hover .bg__purple, .portfolio__hight:hover .bg__sun, .portfolio__hight:hover .bg__sea, .portfolio__hight:hover .bg__gold, .portfolio__hight:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__hight_wrap { position: absolute; width: 500px; height: 600px; text-align: center; left: 50%; margin-left: -250px; }
.portfolio__hight_wrap img { height: 600px; width: auto; }
.portfolio__hight h3 { margin-top: 30px; }
.portfolio__hight .btn { margin-top: 30px; }
.portfolio__long { position: relative; float: left; height: 300px; width: 100%; overflow: hidden; }
.portfolio__long:hover .portfolio__small_mask, .portfolio__long:hover .bg__green, .portfolio__long:hover .bg__pink, .portfolio__long:hover .bg__blue, .portfolio__long:hover .bg__purple, .portfolio__long:hover .bg__sun, .portfolio__long:hover .bg__sea, .portfolio__long:hover .bg__gold, .portfolio__long:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__long_wrap { position: absolute; width: 100%; height: 300px; text-align: center; top: 50%; margin-top: -150px; }
.portfolio__long_wrap img { height: auto; width: 100%; }
.portfolio:after { content: " "; display: table; clear: both; }

.row { height: 600px; *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }

.portfolio__col { width: 50%; float: left; *zoom: 1; }
.portfolio__col:after { content: " "; display: table; clear: both; }

.small__vertical { width: 50%; float: left; *zoom: 1; }
.small__vertical .portfolio__small { width: 100%; }
.small__vertical:after { content: " "; display: table; clear: both; }

.small__horizontal { width: 100%; float: left; height: 300px; *zoom: 1; }
.small__horizontal:after { content: " "; display: table; clear: both; }

.btn { padding: 15px 40px; font-size: 17px; color: #474747; }

.btn__yellow { background-color: #ffd739; }

.bg__green { background-color: rgba(103, 182, 11, 0.75); }

.bg__pink { background-color: rgba(203, 59, 113, 0.75); }

.bg__blue { background-color: rgba(2, 128, 184, 0.75); }

.bg__purple { background-color: rgba(101, 85, 185, 0.75); }

.bg__sun { background-color: rgba(198, 136, 40, 0.75); }

.bg__sea { background-color: rgba(59, 95, 151, 0.75); }

.bg__gold { background-color: rgba(208, 236, 115, 0.75); }

.bg__aqua { background-color: rgba(30, 166, 155, 0.75); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
