html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.clear { clear: both; height: 0; }

a { text-decoration: none; }

.out { position: relative; min-height: 100%; height: auto !important; height: 100%; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.l_center { position: relative; width: 1000px; margin: 0 auto; *zoom: 1; }
.l_center:after { content: " "; display: table; clear: both; }

.b_center { position: relative; width: 1234px; margin: 0 auto; z-index: 3; }

.header { width: 100%; position: fixed; top: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 9999; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header__menu { font-size: 0; float: left; margin-top: 30px; margin-left: 100px; }
.header__menu li { display: inline-block; }
.header__menu li:hover > a { border-color: #ffd739; }
.header__menu li:hover > a:before { display: none; }
.header__menu li:hover + li a:before { display: none; }
.header__menu li a { position: relative; display: block; padding: 0 10px; line-height: 36px; font-size: 12px; color: white; text-transform: uppercase; border: 3px solid transparent; -webkit-border-radius: 21px; border-radius: 21px; }
.header__menu li a:before { content: ""; position: absolute; left: -3px; top: 10px; width: 1px; height: 15px; background-color: white; }
.header__menu li:first-child a::before { display: none; }
.header__contact { width: 175px; float: right; margin-top: 27px; *zoom: 1; }
.header__contact:after { content: " "; display: table; clear: both; }
.header__contact_tel { float: right; color: white; text-transform: uppercase; font-size: 20px; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 300; }
.header__contact_mail { float: right; color: #ffd739; font-size: 13px; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 300; }

.logo { float: left; margin: 20px 0; background: url('../img/icons-s7731b70b43.png') 0 -163px no-repeat; width: 162px; height: 57px; }
.logo h1 { font: 0/0 a; text-shadow: none; color: transparent; }

.key { position: relative; top: -50px; overflow: hidden; height: 811px; min-width: 100%; *zoom: 1; }
.key:after { content: " "; display: table; clear: both; }
.key__img { position: absolute; text-align: center; width: 3000px; left: 50%; margin-left: -1500px; z-index: 1; }
.key__wrap { width: 700px; margin: 0 auto; }
.key__list { width: 260px; float: left; margin-right: 130px; *zoom: 1; }
.key__list p { font-size: 20px; margin-left: 10px; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 300; }
.key__list:nth-child(2n) { margin-right: 0; }
.key__list:after { content: " "; display: table; clear: both; }
.key__list li { float: left; list-style-image: url("../img/list__img.png"); font-size: 20px; margin-bottom: 20px; color: #656565; }
.key__container { position: relative; z-index: 4; padding-top: 175px; }

.big__title { position: relative; text-align: center; font-size: 46px; color: #0e1314; margin: 50px 30px; text-transform: uppercase; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 700; }
.big__title i { position: absolute; bottom: -19px; left: 50%; width: 108px; height: 5px; margin-left: -54px; background-color: #ffd739; }

.portfolio { height: 1200px; vertical-align: top; *zoom: 1; }
.portfolio__big { position: relative; float: left; height: 600px; width: 50%; overflow: hidden; }
.portfolio__big:hover .portfolio__big_mask { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__big_wrap { position: absolute; width: 1000px; height: 600px; text-align: center; left: 50%; margin-left: -500px; }
.portfolio__big_wrap img { height: 600px; width: auto; }
.portfolio__big_mask, .portfolio__big .bg__green, .portfolio__big .bg__pink, .portfolio__big .bg__blue, .portfolio__big .bg__purple, .portfolio__big .bg__sun, .portfolio__big .bg__sea, .portfolio__big .bg__gold, .portfolio__big .bg__aqua { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; left: 20%; }
.portfolio__big_center { width: 450px; height: auto; text-align: center; -webkit-transition: opacity 2.5s ease; -moz-transition: opacity 2.5s ease; -ms-transition: opacity 2.5s ease; -o-transition: opacity 2.5s ease; transition: opacity 2.5s ease; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.portfolio__big_center h3 { text-transform: uppercase; color: white; font-size: 30px; line-height: 28px; font-family: Arial, sans-serif; }
.portfolio__big_center p { width: 450px; color: white; font-size: 16px; margin-top: 15px; }
.portfolio__big .btn { margin-top: 50px; }
.portfolio__small { position: relative; float: left; height: 300px; width: 50%; overflow: hidden; }
.portfolio__small:hover .portfolio__small_mask, .portfolio__small:hover .bg__green, .portfolio__small:hover .bg__pink, .portfolio__small:hover .bg__blue, .portfolio__small:hover .bg__purple, .portfolio__small:hover .bg__sun, .portfolio__small:hover .bg__sea, .portfolio__small:hover .bg__gold, .portfolio__small:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__small_mask { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; left: 20%; }
.portfolio__small_center { width: 300px; height: auto; text-align: left; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.portfolio__small_center h3 { text-transform: uppercase; color: white; font-size: 25px; line-height: 1.1; }
.portfolio__small_center p { width: 300px; color: white; font-size: 16px; margin-top: 10px; }
.portfolio__small_center .btn { padding: 5px 15px; margin-top: 15px; }
.portfolio__small_wrap { position: absolute; width: 500px; height: 300px; text-align: center; left: 50%; margin-left: -250px; }
.portfolio__small_wrap img { height: 300px; width: auto; }
.portfolio__hight { position: relative; float: left; height: 600px; width: 50%; overflow: hidden; }
.portfolio__hight:hover .portfolio__small_mask, .portfolio__hight:hover .bg__green, .portfolio__hight:hover .bg__pink, .portfolio__hight:hover .bg__blue, .portfolio__hight:hover .bg__purple, .portfolio__hight:hover .bg__sun, .portfolio__hight:hover .bg__sea, .portfolio__hight:hover .bg__gold, .portfolio__hight:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__hight_wrap { position: absolute; width: 500px; height: 600px; text-align: center; left: 50%; margin-left: -250px; }
.portfolio__hight_wrap img { height: 600px; width: auto; }
.portfolio__hight h3 { margin-top: 30px; }
.portfolio__hight .btn { margin-top: 30px; }
.portfolio__long { position: relative; float: left; height: 300px; width: 100%; overflow: hidden; }
.portfolio__long:hover .portfolio__small_mask, .portfolio__long:hover .bg__green, .portfolio__long:hover .bg__pink, .portfolio__long:hover .bg__blue, .portfolio__long:hover .bg__purple, .portfolio__long:hover .bg__sun, .portfolio__long:hover .bg__sea, .portfolio__long:hover .bg__gold, .portfolio__long:hover .bg__aqua { opacity: 1; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; left: 0; }
.portfolio__long_wrap { position: absolute; width: 100%; height: 300px; text-align: center; top: 50%; margin-top: -150px; }
.portfolio__long_wrap img { height: auto; width: 100%; }
.portfolio:after { content: " "; display: table; clear: both; }

.row { height: 600px; *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }

.portfolio__col { width: 50%; float: left; *zoom: 1; }
.portfolio__col:after { content: " "; display: table; clear: both; }

.small__vertical { width: 50%; float: left; *zoom: 1; }
.small__vertical .portfolio__small { width: 100%; }
.small__vertical:after { content: " "; display: table; clear: both; }

.small__horizontal { width: 100%; float: left; height: 300px; *zoom: 1; }
.small__horizontal:after { content: " "; display: table; clear: both; }

.btn { padding: 15px 40px; font-size: 17px; color: #474747; }

.btn__yellow { background-color: #ffd739; }

.bg__green { background-color: rgba(103, 182, 11, 0.75); }

.bg__pink { background-color: rgba(203, 59, 113, 0.75); }

.bg__blue { background-color: rgba(2, 128, 184, 0.75); }

.bg__purple { background-color: rgba(101, 85, 185, 0.75); }

.bg__sun { background-color: rgba(198, 136, 40, 0.75); }

.bg__sea { background-color: rgba(59, 95, 151, 0.75); }

.bg__gold { background-color: rgba(208, 236, 115, 0.75); }

.bg__aqua { background-color: rgba(30, 166, 155, 0.75); }

.client { position: relative; *zoom: 1; }
.client:after { content: " "; display: table; clear: both; }
.client__slider { width: 1000px; *zoom: 1; }
.client__slider:after { content: " "; display: table; clear: both; }
.client__wrap { float: left; position: relative; width: 25%; height: 160px; overflow: hidden; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }
.client__wrap:hover { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
.client__wrap_img { position: absolute; width: 200px; height: 160px; left: 50%; top: 50%; margin-top: -40px; line-height: 160px; margin-left: -100px; text-align: center; }

.cycle__prev { position: absolute; top: 62%; left: -20px; background: url('../img/icons-s7731b70b43.png') 0 -329px no-repeat; width: 23px; height: 38px; }

.cycle__next { position: absolute; top: 62%; right: -20px; background: url('../img/icons-s7731b70b43.png') 0 -281px no-repeat; width: 23px; height: 38px; }

.comment { height: 610px; padding: 1px; background-image: url("../img/comment__bg.png"); *zoom: 1; }
.comment:after { content: " "; display: table; clear: both; }
.comment .big__title { color: white; }
.comment__item { position: relative; background-color: white; padding: 30px 70px 40px; margin-top: 85px; *zoom: 1; }
.comment__item:after { content: " "; display: table; clear: both; }
.comment img { float: left; height: 100%; width: 130px; margin-right: 30px; margin-top: 5px; }
.comment__name { font-size: 18px; color: #363636; font-family: Arial, sans-serif; }
.comment__who { font-size: 13px; color: #8f8f8f; font-family: Arial, sans-serif; }
.comment__site { display: inline-block; font-size: 13px; color: #f3be1e; font-family: Arial, sans-serif; margin-top: 10px; border-bottom: 1px solid #f3be1e; }
.comment__site:hover { border-bottom: 1px solid transparent; }
.comment__content p { font-size: 13px; color: #363636; font-family: Arial, sans-serif; line-height: 22px; margin-top: 15px; }
.comment__prev { position: absolute; top: 50%; left: 0; margin-top: -23px; background: url('../img/icons-s7731b70b43.png') 0 -56px no-repeat; width: 32px; height: 46px; }
.comment__prev:hover { opacity: 0.8; }
.comment__next { position: absolute; top: 50%; right: 0; margin-top: -23px; background: url('../img/icons-s7731b70b43.png') 0 0 no-repeat; width: 32px; height: 46px; }
.comment__next:hover { opacity: 0.8; }

.mapin { position: relative; height: 545px; overflow: hidden; padding: 1px; *zoom: 1; }
.mapin:after { content: " "; display: table; clear: both; }
.mapin #map { position: absolute; z-index: 1; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }
.mapin__contakt { position: relative; float: right; margin-top: 90px; padding: 45px 30px 55px 45px; width: 255px; height: 360px; background-color: white; z-index: 4; }
.mapin__contakt .btn { width: 100%; }
.mapin__item { position: relative; margin-bottom: 50px; margin-left: 60px; }
.mapin__item .home { position: absolute; top: 2px; left: -60px; background: url('../img/icons-s7731b70b43.png') 0 -112px no-repeat; width: 41px; height: 41px; }
.mapin__item .tel { position: absolute; top: 2px; left: -60px; background: url('../img/icons-s7731b70b43.png') 0 -488px no-repeat; width: 41px; height: 41px; }
.mapin__item .mail { position: absolute; top: 2px; left: -60px; background: url('../img/icons-s7731b70b43.png') 0 -230px no-repeat; width: 41px; height: 41px; }
.mapin__item p, .mapin__item a { font-size: 13px; font-family: Arial, sans-serif; color: gray; }
.mapin__item a { border-bottom: 1px solid gray; }
.mapin__item a:hover { border-color: transparent; }
.mapin__item .mapin__tel { font-size: 16px; }
.mapin__title { font-size: 18px; color: #04151a; font-weight: bold; text-transform: uppercase; font-family: Arial, sans-serif; margin-bottom: 5px; }
.mapin__letter { position: relative; width: 570px; height: 328px; margin-top: 90px; float: left; z-index: 5; background-color: white; background-image: url("../img/bdr.png"); }
.mapin__letter_contant { display: none; margin: 45px 35px; text-align: center; }
.mapin__letter_contant .btn { margin: 30px auto; }
.mapin__letter_return { display: none; z-index: 200; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; }
.mapin__letter_return i { position: absolute; top: 45px; left: 50%; margin-left: -50px; background: url('../img/icons-s7731b70b43.png') 0 -377px no-repeat; width: 100px; height: 101px; }
.mapin__letter_return h3 { font-size: 33px; margin-top: 170px; }
.mapin__letter_return p { font-size: 22px; }
.mapin__letter .is_active { display: block; }

.letter__name, .letter__tel { height: 18px; width: 216px; border: 1px solid #efefef; padding: 10px; font-size: 11px; font-family: Arial, sans-serif; }
.letter__name:-moz-placeholder, .letter__name::-moz-placeholder, .letter__tel:-moz-placeholder, .letter__tel::-moz-placeholder { color: silver; opacity: 1; }
.letter__name::-webkit-input-placeholder, .letter__tel::-webkit-input-placeholder { color: silver; }

.letter__tel { margin-left: 20px; }

.letter__text { height: 80px; width: 480px; margin-top: 25px; border: 1px solid #efefef; padding: 10px; font-size: 11px; font-family: Arial, sans-serif; resize: none; }
.letter__text:-moz-placeholder, .letter__text::-moz-placeholder { color: silver; opacity: 1; }
.letter__text::-webkit-input-placeholder { color: silver; }

.footer { background-color: black; text-align: center; }
.footer p { color: gray; font-size: 13px; font-family: Arial, sans-serif; line-height: 55px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.spin { position: relative; top: 0; padding: 1px; height: 940px; overflow: hidden; *zoom: 1; }
.spin:after { content: " "; display: table; clear: both; }
.spin .big__title { color: white; }
.spin__container { position: relative; margin-top: 150px; z-index: 10; text-align: center; }
.spin__container p { color: white; margin: 0 auto; font-size: 22px; }
.spin .comment__prev, .spin .comment__next { z-index: 10; }

.big { position: relative; background-color: white; min-height: 1300px; height: auto; *zoom: 1; }
.big:after { content: " "; display: table; clear: both; }
.big .key__img { bottom: 0; }
.big__img { float: right; margin: 50px 0 35px; }

.bild { width: 380px; float: left; margin-top: 50px; }
.bild li { display: block; margin: 0 0 140px 35px; list-style-image: url("../img/list__img.png"); }
.bild li h2 { font-size: 24px; line-height: 21px; color: #0e1314; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 700; }
.bild li p { font-size: 14px; color: #5f5f5f; margin-top: 15px; font-family: "Exo2", Arial, sans-serif; font-style: normal; font-weight: 300; }
