html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

a { text-decoration: none; }

.out { position: relative; min-height: 100%; height: auto !important; height: 100%; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.l_center { width: 1000px; margin: 0 auto; *zoom: 1; }
.l_center:after { content: " "; display: table; clear: both; }

.header { width: 100%; position: fixed; top: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 9999; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header__menu { font-size: 0; float: left; margin-top: 30px; margin-left: 100px; }
.header__menu li { display: inline-block; }
.header__menu li:hover > a { border-color: #ffd739; }
.header__menu li:hover > a:before { display: none; }
.header__menu li:hover + li a:before { display: none; }
.header__menu li a { position: relative; display: block; padding: 0 10px; line-height: 36px; font-size: 12px; color: white; text-transform: uppercase; border: 3px solid transparent; -webkit-border-radius: 21px; border-radius: 21px; }
.header__menu li a:before { content: ""; position: absolute; left: -3px; top: 10px; width: 1px; height: 15px; background-color: white; }
.header__menu li:first-child a::before { display: none; }
.header__contact { width: 175px; float: right; margin-top: 27px; *zoom: 1; }
.header__contact:after { content: " "; display: table; clear: both; }
.header__contact_tel { float: right; color: white; text-transform: uppercase; font-size: 20px; }
.header__contact_mail { float: right; color: #ffd739; font-size: 13px; }

.logo { float: left; margin: 20px 0; background: url('../img/icons-s40080f2dba.png') 0 0 no-repeat; width: 162px; height: 57px; }
.logo h1 { font: 0/0 a; text-shadow: none; color: transparent; }

.key { position: relative; top: -50px; *zoom: 1; }
.key:after { content: " "; display: table; clear: both; }
.key__img { position: absolute; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.key h2 { text-align: center; font-size: 46px; color: #0e1314; margin: 50px 30px 30px; }
.key__list { width: 700px; margin: 0 auto; }
.key__list li { list-style-image: url("../img/list__img.png"); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
