
$n: transparent
$yellow: #ffd739

=el
	font-family: "Exo 2", Arial, sans-serif
	font-weight: 300
=er
	font-family: "Exo 2", Arial, sans-serif
	font-weight: 400
=eb
	font-family: "Exo 2", Arial, sans-serif
	font-weight: 700

=rel
	font-family: "Raleway", Arial, sans-serif
	font-weight: 800

=bad
	font-family: "Bad Script", Arial, sans-serif
	font-weight: 400

body
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 1.4
	min-width: 1180px
	width: 100%
	background-color: #000
	+r(480)
		min-width: 480px
		width: 480px
.hide480
	+r(480)
		display: none
.show480
	display: none
	+r(480)
		display: block
.clear
	clear: both
	height: 0
a
	text-decoration: none
// common blocks
.out
	position: relative
	height: auto!important
	margin: 0 auto
	background-color: #FFF
	+clr
	+r(480)
		overflow: hidden
.l_center
	position: relative
	width: 1000px
	margin: 0 auto
	+clr
	+r(480)
		width: 460px
.b_center
	position: relative
	min-width: 1234px
	width: 1234px
	margin: 0 auto
	z-index: 3
	+clr
	+r(1300)
		min-width: 1180px
		width: 1180px
		padding: 0 10px
		+r(480)
			width: 460px
			min-width: 460px
.x_center
	position: relative
	width: 1294px
	margin: 0 auto
	z-index: 3
	+clr
	+r(1300)
		width: 1200px
	+r(480)
		width: 460px

.min1200
	min-width: 1180px
	width: 100%
	+r(1300)
		width: 1200px
		margin: 0 auto
	+r(480)
		min-width: 480px
		width: 480px
		overflow: hidden
.min1200_a
	min-width: 1180px
	width: 100%
	+r(1300)
		margin: 0 auto
	+r(480)
		min-width: 480px
		overflow: hidden



.main
	&__prev
		position: absolute
		top: 185px
		left: 0
		margin-top: -23px
		z-index: 5
		+s(com_prev)
		&:hover
			opacity: .8
	&__next
		position: absolute
		top: 185px
		right: 0
		margin-top: -23px
		z-index: 5
		+s(com_next)
		&:hover
			opacity: .8


.header
	min-width: 1200px
	width: 100%!important
	position: fixed
	top: 0
	background-color: rgba(0, 0, 0, .9)
	z-index: 99999
	height: 97px
	+clr
	+r(480)
		min-width: 480px
		width: 480px!important
		height: 135px
	&__menu
		font-size: 0
		float: left
		margin-top: 27px
		margin-left: 105px
		+r(480)
			margin-left: 0
			margin-top: 10px
		.is-active //delete me &&
			> a
				border-color: $yellow
				+tr(.6s)
				&:before
					display: none
			+ li a:before
				display: none
		li
			display: inline-block
			.is-active
			&:hover
				> a
					border-color: $yellow
					+tr(.6s)
					&:before
						display: none
				+ li a:before
					display: none
			a
				position: relative
				display: block
				padding: 0 12px
				line-height: 36px
				font-size: 12px
				font-family: Arial, sans-serif
				color: #FFF
				text-transform: uppercase
				border: 3px solid $n
				-webkit-border-radius: 21px
				border-radius: 21px
				text-decoration: none
				&:hover
					text-decoration: none
				&:before
					content: ""
					position: absolute
					left: -3px
					top: 10px
					width: 1px
					height: 15px
					background-color: #fff
			&:first-child a::before
				display: none
	&__contact
		width: 180px
		float: right
		margin-top: 21px
		+clr
		+r(480)
			position: absolute
			width: 307px
			top: 10px
			right: 10px
			margin-top: 0
		&_tel
			float: right
			color: #FFF
			text-transform: uppercase
			font-size: 20px
			+el
		&_mail
			float: right
			color: $yellow
			font-size: 13px
			+el
			+r(480)
				margin-top: 15px
				float: none
				line-height: 28px
	.l_center
		position: relative
.logo
	float: left
	margin: 20px 0
	+s(logo)
	+r(480)
		margin: 10px 0
		+s(m_logo)
	h1
		+hide-text

.key
	position: relative
	top: -50px
	overflow: hidden
	height: 811px
	min-width: 100%
	+clr
	+r(480)
		top: 0
	+r(480)
		height: 455px
	&__img
		position: absolute
		text-align: center
		width: 3000px
		left: 50%
		margin-left: -1500px
		background-color: #FFF
		z-index: 1
	&__wrap
		width: 700px
		margin: 0 auto
		+clr
		+r(480)
			width: 460px
	&__list
		width: 260px
		float: left
		margin-right: 130px
		+r(480)
			margin-left: 15px
			width: 195px
			margin-right: 15px
		p
			font-size: 20px
			margin-left: 10px
			+el
			font-weight: 200
			+r(480)
				font-size: 15px
				font-weight: 400
				margin-left: 5px
		&:nth-child(2n)
			margin-right: 0
		+clr
		li
			float: left
			list-style-image: url("../img/list__img.png")
			font-size: 20px
			margin-bottom: 20px
			color: #656565
			+r(480)
				margin-bottom: 5px
				list-style-image: url("../img/list__img_m.png")
	&__container
		position: relative
		z-index: 4
		padding-top: 225px
		+r(480)
			padding-top: 140px
.big__title
	position: relative
	text-align: center
	font-size: 46px
	line-height: 55px
	color: #0e1314
	margin: 50px 30px
	text-transform: uppercase
	+eb
	+r(480)
		font-size: 26px
		line-height: 26px
		margin: 30px
	i
		position: absolute
		bottom: -19px
		left: 50%
		width: 108px
		height: 5px
		margin-left: -54px
		background-color: #FFD739
		+r(480)
			height: 2px




.process__cyrcle
	width: 1200px
	margin: 0 auto
	position: relative
	+clr

.port
	position: absolute
	background-image: url("../img/pol11.png")
	width: 429px
	height: 460px
	top: 93px
	left: 344px
	z-index: 90
	+rotate(-5)

.process__list_container
	position: absolute
	height: 0
	border: none
	z-index: 300
	overflow: hidden
	+opacity(0)
	p
		margin: 10px
		font-size: 13px
		line-height: 18px
		color: #565656
		+el
		+r(480)
			font-size: 16px
			line-height: 18px
.process
	position: relative
	height: 775px
	margin-top: -50px
	background-color: #FFF
	padding-top: 100px
	+r(480)
		height: 590px
	&__img
		position: absolute
		width: 650px
		height: 610px
		top: 130px
		left: 50%
		margin-left: -323px
		text-align: center
		&_center
			margin: 0 auto
	&__list
		position: relative
		width: 1200px
		height: 770px
		margin: 0px auto 0
		overflow: hidden
		+r(480)
			width: 480px
			height: 590px
			margin-top: -50px
		li
			position: relative
			display: inline-block
			height: 105px
			font-size: 15px
			vertical-align: top
			// z-index: 99
			+r(480)
				height: 60px
		a
			display: inline-block
			position: relative
			color: #565656
			z-index: 5
			+el
			+tr(0)
	&__1,
	&__5,
	&__6
		a
			padding: 5px 60px 10px 10px
			text-align: right
			&:after
				content: ""
				position: absolute
				top: -5px
				right: 0
				z-index: 4
				+s(dart)
				+scale(0)
				width: 0
			&:before
				content: ""
				position: absolute
				top: -5px
				right: 0
				width: 0
				bottom: -5px
				background-color: #FDF6DF
				z-index: -1
			i
				position: absolute
				top: 10px
				right: 8px
	&__1.is_active,
	&__5.is_active,
	&__6.is_active
		position: relative
		&:before
			display: block
			+r(480)
				display: none
		img
			opacity: 1
			+tr(all 1s)
		a
			&:after
				+tr(.8s)
				right: 93%
				+scale(1)
				+s(dart)
			&:before
				width: 100%
				right: 0
				+tr(.8s)
	&__2,
	&__3,
	&__4
		a
			padding: 0 10px 10px 60px
			&:after
				content: ""
				position: absolute
				top: -5px
				left: 0
				z-index: 4
				+s(dart)
				width: 0
			&:before
				content: ""
				position: absolute
				top: -5px
				width: 0
				bottom: -9px
				background-color: #FDF6DF
				z-index: -1
		i
			position: absolute
			top: 5px
			left: 10px
	&__2.is_active,
	&__3.is_active,
	&__4.is_active
		position: relative
		&:before
			display: block
			+r(480)
				display: none
		img
			opacity: 1
			+tr(all 1s)
		a
			&:after
				left: 93%
				+s(dart)
				+scale(-1)
				+tr(.8s)
			&:before
				width: 100%
				left: 0
				right: 0
				+tr(.8s)
	&__3.is_active
		+r(480)
			a
				&:after
					right: 93%
				&:before
					right: 0
	&__1
		top: 20px
		left: 270px
		+r(480)
			top: 0
			left: 40px
			margin-top: 25px
		&:before
			content: ""
			display: none
			position: absolute
			top: 58px
			left: 219px
			z-index: 300
			+s(bird_1)
		&_num
			position: absolute
			top: 75px
			left: 242px
			+r(480)
				top: 28px
				left: 250px
		&_pic
			+s(w9)
		.process__list_container
			top: 80px
			left: -215px
			width: 340px
			max-height: 90px
			+r(480)
				left: -23px
				width: 300px
				background-color: #FFF
				max-height: 105px
	&__2
		top: 99px
		left: 560px
		+r(480)
			top: 125px
			left: -20px
		&:before
			content: ""
			display: none
			position: absolute
			top: 39px
			left: -52px
			z-index: 300
			+s(bird_2)
		&_num
			position: absolute
			top: 60px
			left: -50px
			+r(480)
				top: 15px
				left: -22px
		&_pic
			+s(w1)
		.process__list_container
			top: 80px
			left: 35px
			width: 255px
			max-height: 165px
			+r(480)
				left: -130px
				width: 350px
				max-height: 120px
	&__3
		top: 366px
		left: 401px
		+r(480)
			top: 135px
			left: 68px
		a
			padding-right: 9px
			+r(480)
				padding: 0 60px 10px 10px
		&:before
			content: ""
			display: none
			position: absolute
			top: 8px
			left: -49px
			z-index: 300
			+s(bird_3)
		&_num
			position: absolute
			top: 20px
			left: -58px
			+r(480)
				top: 13px
				left: 225px
		&_pic
			+s(w5)
			z-index: 10
			+r(480)
				left: 158px!important
		.process__list_container
			top: 80px
			left: 0
			width: 255px
			max-height: 150px
			+r(480)
				width: 357px
				max-height: 104px
	&__4
		top: 615px
		left: -33px
		+r(480)
			top: 168px
			left: 208px
		&:before
			content: ""
			display: none
			position: absolute
			top: -49px
			left: -14px
			z-index: 300
			+s(bird_4)
		&_num
			position: absolute
			top: -70px
			left: 0px
			+r(480)
				top: 8px
				left: -22px
		&_pic
			+s(w7)
			z-index: 10
		.process__list_container
			top: 25px
			left: -380px
			width: 355px
			max-height: 115px
			+r(480)
				top: 75px
				left: -121px
	&__5
		top: 500px
		left: -872px
		+r(480)
			top: 193px
			left: 91px
		&:before
			content: ""
			display: none
			position: absolute
			top: -9px
			left: 257px
			z-index: 300
			+s(bird_5)
		&_num
			position: absolute
			top: -8px
			left: 300px
			+r(480)
				top: 16px
				left: 200px
		&_pic
			+s(w6)
		.process__list_container
			top: 80px
			left: 0px
			width: 355px
			max-height: 175px
			+r(480)
				left: -52px
				width: 360px
				max-height: 103px
	&__6
		top: 120px
		left: 45px
		+r(480)
			top: 290px
			left: 50px
		a
			padding-right: 70px
			+r(480)
				padding: 5px 10px 10px 70px
				i
					right: 150px
		&:before
			content: ""
			display: none
			position: absolute
			top: 20px
			left: 278px
			z-index: 300
			width: 50px
			height: 30px
			+s(bird_6)
		&_num
			position: absolute
			top: 35px
			left: 308px
			+r(480)
				top: 15px
				left: -50px
		&_pic
			+s(w06)
		.process__list_container
			top: 80px
			left: 0px
			width: 250px
			max-height: 180px
			+r(480)
				top: -160px
				left: -130px
				width: 325px
				max-height: 138px
	.is_active
		position: relative
		b
			+opacity(0)
			+r(480)
				+opacity(1)
		.process__list_container
			height: auto
			border: 2px solid #F3BE1E
			+opacity(1)
			-moz-transition: opacity .4s .6s
			-o-transition: opacity .4s .6s
			-webkit-transition: opacity .4s .6s
			-ms-transition: opacity .4s .6s
			transition: opacity .4s .6s
			background-color: #FFF
			z-index: 9999
	&__4.is_active
		a:after
			left: 95%!important  //корректировка

.pentagon
	position: absolute
	top: 371px
	left: 50%
	margin-left: -95px
	width: 117px
	height: 125px
	background: $n url("../img/pause.png")
	z-index: 999
	img
		position: absolute
		+opacity(0)
		// +tr(.5s)
	.p1
		left: 71px
		top: 22px
		+rotate(-8)
	.p2
		left: -426px
		top: -60px
		+rotate(53)
	.p3
		left: -470px
		top: -304px
		+rotate(112)
	.p4
		left: -265px
		top: -504px
		+rotate(170)
	.p5
		left: 232px
		top: -408px
		+rotate(232)
	.p6
		left: 290px
		top: -169px
		+rotate(288)





.portfolio
	height: 1200px
	vertical-align: top
	+r(480)
		height: auto
		width: 480px
		overflow: hidden
	// img
	// 	display: inline-block
	&__big
		position: relative
		float: left
		height: 600px
		width: 50%
		overflow: hidden
		+r(480)
			width: 100%
			height: 300px
		&:hover
			.portfolio__big_mask
				opacity: 1
				+tr(.5s)
				left: 0
		&_wrap
			position: absolute
			// width: 1000px
			width: 960px
			height: 600px
			text-align: center
			left: 50%
			margin-left: -500px
			+r(480)
				height: 300px
				top: 50%
				margin-top: -250px
			img
				// height: 600px
				// width: auto
				width: 100%
				height: auto
		&_mask,
		.bg__green,
		.bg__pink,
		.bg__blue,
		.bg__purple,
		.bg__sun,
		.bg__sea,
		.bg__gold,
		.bg__aqua
			opacity: 0
			+coverdiv
			left: 20%
		&_center
			width: 450px
			height: auto
			text-align: center
			-webkit-transition: opacity 2.5s ease
			-moz-transition: opacity 2.5s ease
			-ms-transition: opacity 2.5s ease
			-o-transition: opacity 2.5s ease
			transition:  opacity 2.5s ease
			+vcenter
			h3
				text-transform: uppercase
				color: #FFF
				font-size: 30px
				line-height: 28px
				font-weight: 400
				font-family: Arial, sans-serif
			p
				width: 450px
				color: #FFF
				font-size: 16px
				margin-top: 15px
		.btn
			margin-top: 50px
	&__small
		position: relative
		float: left
		height: 300px
		width: 50%
		overflow: hidden
		+r(480)
			width: 100%
		&:hover
			.portfolio__small_mask,
			.bg__green,
			.bg__pink,
			.bg__blue,
			.bg__purple,
			.bg__sun,
			.bg__sea,
			.bg__gold,
			.bg__aqua
				opacity: 1
				+tr(.5s)
				left: 0
		&_mask
			opacity: 0
			+coverdiv
			left: 20%
		&_center
			width: 300px
			height: auto
			text-align: center
			+vcenter
			+r(480)
				width: 350px
			h3
				text-transform: uppercase
				color: #FFF
				font-size: 25px
				line-height: 1.1
				font-weight: 400
			p
				// width: 300px  // 29.05
				color: #FFF
				font-size: 16px
				margin-top: 10px
			.btn
				padding: 7px 15px
				margin-top: 15px
		&_wrap
			position: absolute
			width: 500px
			height: 300px
			text-align: center
			left: 50%
			margin-left: -250px
			img
				// height: 300px
				// width: auto
				// height: auto
				// width: 100%
				// margin-top: -25px
				+coverdiv
	&__hight
		position: relative
		float: left
		height: 600px
		width: 50%
		overflow: hidden
		+r(480)
			width: 100%
			height: 300px
		&:hover
			.portfolio__small_mask,
			.bg__green,
			.bg__pink,
			.bg__blue,
			.bg__purple,
			.bg__sun,
			.bg__sea,
			.bg__gold,
			.bg__aqua
				opacity: 1
				+tr(.5s)
				left: 0
		&_wrap
			position: absolute
			width: 500px
			height: 600px
			text-align: center
			left: 50%
			margin-left: -250px
			+r(480)
				height: 300px
			img
				height: 600px
				width: auto
				+r(480)
					height: 300px
		h3
			margin-top: 30px
			font-weight: 400
		.btn
			margin-top: 30px
	&__long
		position: relative
		float: left
		height: 300px
		width: 100%
		overflow: hidden
		&:hover
			.portfolio__small_mask,
			.bg__green,
			.bg__pink,
			.bg__blue,
			.bg__purple,
			.bg__sun,
			.bg__sea,
			.bg__gold,
			.bg__aqua
				opacity: 1
				+tr(.5s)
				left: 0
		&_wrap
			position: absolute
			width: 100%
			height: 300px
			text-align: center
			top: 50%
			margin-top: -150px
			img
				height: auto
				width: 100%
	+clr
.row
	height: 600px
	+clr
.portfolio__col
	width: 50%
	float: left
	+clr
	+r(480)
		width: 100%
.small__vertical
	width: 50%
	float: left
	+r(480)
		width: 100%
	.portfolio__small
		width: 100%
	+clr
.small__horizontal
	width: 100%
	float: left
	height: 300px
	+clr
.btn
	padding: 15px 40px
	font-size: 17px
	color: #474747
.btn__yellow
	background-color: #ffd739
.bg__green
	background-color: rgba(103, 182, 11, .75)
.bg__pink
	background-color: rgba(203,59, 113, .75)
.bg__blue
	background-color: rgba(2, 128, 184, .75)
.bg__purple
	background-color: rgba(101, 85, 185, .75)
.bg__sun
	background-color: rgba(198, 136, 40, .75)
.bg__sea
	background-color: rgba(59, 95, 151, .75)
.bg__gold
	background-color: rgba(208, 236, 115, .75)
.bg__aqua
	background-color: rgba(30, 166, 155, .75)


.client
	position: relative
	height: 615px
	padding-top: 1px
	+clr
	+r(480)
		height: auto
	.big__title
		margin-top: 80px
		margin-bottom: 95px
	&__slider
		width: 1000px //940
		+clr
		+r(480)
			width: 460px
	&__wrap
		float: left
		position: relative
		width: 25%
		height: 160px
		overflow: hidden
		+gray
		+clr
		+r(480)
			width: 50%
		&:hover
			+gray-zero
		&_img
			position: absolute
			width: 200px
			height: 160px
			left: 50%
			top: 25%
			margin-top: -40px
			line-height: 160px
			margin-left: -100px
			text-align: center
			img
				vertical-align: middle
.cycle__prev
	position: absolute
	top: 62%
	left: -30px
	z-index: 999
	+s(prev)
	+r(480)
		left: -8px

.cycle__next
	position: absolute
	top: 62%
	right: -30px
	z-index: 999
	+s(next)
	+r(480)
		right: -8px
.setka__left,
.setka__right
	position: absolute
	top: -30px
	background-image: url("../img/setka.png")
	width: 229px
	height: 545px
.setka__left
	left: 0
.setka__right
	right: 0
	background-image: url("../img/setka_r.png")
	width: 329px
	height: 610px


.comment
	height: 610px
	padding: 1px
	background-image: url("../img/comment__bg.png")
	+clr
	+r(480)
		height: auto
		background-image: url("../img/comment__bg_m.png")
	.big__title
		color: #FFF
		margin: 85px 30px 90px
	&__item
		position: relative
		background-color: #FFF
		padding: 25px 70px 40px
		+clr
		+r(480)
			padding: 25px 0 40px // !!!!!!!!!!!!!!!!!
	img
		float: left
		height: 100%
		width: 130px
		margin-right: 30px
		margin-top: 5px
		+r(480)
			margin-right: 20px
	&__name
		font-size: 18px
		color: #363636
		font-family: Arial, sans-serif
		+r(480)
			font-size: 20px
			font-weight: bold
	&__who
		font-size: 13px
		color: #8F8F8F
		font-family: Arial, sans-serif
		+r(480)
			margin-top: 5px
	&__site
		display: inline-block
		font-size: 13px
		color: #f3be1e
		font-family: Arial, sans-serif
		margin-top: 10px
		border-bottom: 1px solid #f3be1e
		&:hover
			border-bottom: 1px solid transparent
	&__content
		width: 860px
		+r(480)
			width: 390px
			margin-top: 30px
		p
			font-size: 13px
			color: #363636
			font-family: Arial, sans-serif
			line-height: 22px
			margin-top: 15px
			+r(480)
				font-size: 16px
	&__prev
		position: absolute
		top: 50%
		left: 0
		margin-top: -23px
		+s(com_prev)
		z-index: 100
		&:hover
			opacity: .8
	&__next
		position: absolute
		top: 50%
		right: 0
		margin-top: -23px
		+s(com_next)
		z-index: 100
		&:hover
			opacity: .8

.slider
	position: relative
	background-color: #FFF
	margin-top: 60px
	+r(480)
		width: 480px
		margin-left: -10px
	.cycle-slideshow
		+r(480)
			width: 390px
			margin: 0 auto
.mapin
	position: relative
	height: 545px
	overflow: hidden
	padding: 1px
	+clr
	+r(480)
		height: 995px
	#map
		position: absolute
		z-index: 1
		+gray
		+r(480)
			height: 995px
	&__contakt
		position: relative
		float: right
		margin-top: 90px
		padding: 45px 30px 55px 45px
		width: 255px
		height: 360px
		background-color: #FFF
		z-index: 4
		+r(480)
			width: 295px
			margin-top: 490px
			margin-right: 45px
		.btn
			width: 240px
	&__item
		position: relative
		margin-bottom: 40px
		margin-left: 60px
		.home
			position: absolute
			top: 2px
			left: -60px
			+s(home)
		.tel
			position: absolute
			top: 2px
			left: -60px
			+s(tel)
		.mail
			position: absolute
			top: 2px
			left: -60px
			+s(mail)
		p,
		a
			font-size: 13px
			font-family: Arial, sans-serif
			color: #808080
		a
			border-bottom: 1px solid #808080
			&:hover
				border-color: $n
		.mapin__tel
			font-size: 16px
	&__title
		font-size: 18px
		color: #04151a
		font-weight: bold
		text-transform: uppercase
		font-family: Arial, sans-serif
		margin-bottom: 5px
	&__letter
		// display: none ///////
		position: relative
		width: 570px
		height: 328px
		margin-top: 90px
		float: left
		z-index: 5
		background-color: #FFF
		background-image: url("../img/bdr.png")
		+r(480)
			width: 460px
			height: 390px
			float: none
			margin-top: 30px
			background-image: url("../img/bdr_m.png")
		&_contant
			display: none
			margin: 45px 35px
			text-align: center
			.btn
				margin: 30px auto
				width: 240px
				+r(480)
					position: absolute
					top: 280px
					left: 105px
		&_return
			display: none
			background-color: #FFF
			margin: 10px
			z-index: 200
			+coverdiv
			text-align: center
			width: 95%
			height: 95%
			i
				position: absolute
				top: 45px
				left: 50%
				margin-left: -50px
				+s(sanks)
			h3
				font-size: 33px
				margin-top: 170px
			p
				font-size: 22px
		.is_active
			display: block
.letter__name,
.letter__tel
	height: 18px
	width: 216px
	border: 1px solid #efefef
	padding: 10px
	font-size: 14px
	font-family: Arial, sans-serif
	+placeholder-color(#c0c0c0)
	+r(480)
		position: absolute
		width: 370px
.letter__name
	+r(480)
		top: 50px
.letter__tel
	margin-left: 20px
	+r(480)
		top: 100px
		margin-left: 0
.letter__text
	height: 80px
	width: 480px
	margin-top: 25px
	border: 1px solid #efefef
	padding: 10px
	font-size: 14px
	font-family: Arial, sans-serif
	+placeholder-color(#c0c0c0)
	resize: none
	+r(480)
		position: absolute
		top: 125px
		width: 370px
.letter__form_name,
.letter__form_tel,
.letter__form_text
	position: relative
	float: left
	text-align: left
	+r(480)
		float: none
	.has-error
		border-color: #f3aaaa
		+ label
			position: absolute
			bottom: -15px
			left: 1px
			font-size: 11px
			color: #F3AAAA
			text-align: left

.letter__form_name
	width: 240px
	label
		+r(480)
			top: 95px
.letter__form_tel
	width: 260px
	label
		margin-left: 20px
		+r(480)
			top: 145px
			margin-left: 0
.letter__form_text
	label
		+r(480)
			top: 255px

.write__scroll
	// position: relative
	display: block
	height: 50px
	margin-top: -50px
	background-color: #F45
	// z-index: 9
.footer
	background-color: #000
	text-align: center
	p
		color: #808080
		font-size: 13px
		font-family: Arial, sans-serif
		line-height: 55px



//####   MAP  ####


.ymaps-2-1-23-zoom,
.ymaps-2-1-23-button_size_s .ymaps-2-1-23-button__text,
.ymaps-2-1-23-search__input,
.ymaps-2-1-26-controls__toolbar,
.ymaps-2-1-26-controls__control
	display: none !important


.btn__close
	position: absolute
	top: 15px
	right: 15px
	z-index: 999
	+s(close)