// Normally mainpage styles

.spin
	position: relative
	top: 0
	padding: 1px
	height: 940px
	overflow: hidden
	+clr
	+r(480)
		height: 640px
	.big__title
		color: #FFF
	&__container
		position: relative
		margin-top: 150px
		z-index: 10
		text-align: center
		p
			color: #FFF
			margin: 0 auto
			font-size: 22px
			font-family: Arial, sans-serif
			+r(480)
				margin-top: 45px
	.comment__prev,
	.comment__next
		z-index: 10

.big
	position: relative
	background-color: #FFF
	min-height: 1300px
	height: auto
	overflow: hidden
	.key__img
		bottom: 0
	&__img
		float: right
		margin: 50px 0 35px
		+r(480)
			width: 460px
			margin: 0 auto 30px
.bild
	width: 380px
	float: left
	margin-top: 50px
	+r(480)
		width: 405px
		margin: 35px 0 0 25px
	li
		padding-left: 10px
		margin: 0 0 140px 25px
		list-style-image: url("../img/list__img.png")
		+r(480)
			margin-bottom: 35px
		h2
			font-size: 24px
			line-height: 21px
			color: #0E1314
			+eb
		p
			font-size: 14px
			color: #5F5F5F
			margin-top: 15px
			+el
			+r(480)
				font-size: 16px
.new_site
	position: relative
	margin: 0 auto
	z-index: 10
	+clr

.him
	background-image: url('../img/bg-hiw.png')

.box
	position: relative
	box-shadow: 0 1px 50px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset
.box:after
	position: absolute
	width: 92%
	height: 15%
	left: 4%
	border-radius: 1%
	z-index: -1
	bottom: 1%
	content: ""
	box-shadow: 0 9px 18px rgba(0,0,0,0.4)

#how-it-works-main
	margin: 0 10px 60px!important









































































































































































































