
.cover__bg
	position: relative
	min-height: 1500px
	height: 100%
	min-width: 1200px
	width: 100%
	background-color: #153152
	text-align: center
	overflow: hidden
	z-index: 2
	+clr
	+r(1300)
		min-width: 1180px
		width: 1180px
		padding: 0 10px
	+r(480)
		min-width: 460px
		width: 460px
.cover__img
	position: absolute
	width: 2000px
	left: 50%
	margin-left: -1000px
	z-index: 3
.title__smile
	font-size: 105px
	color: #FFF
	text-transform: lowercase
	text-align: center
	margin: 200px 0 150px
	+rel
	+r(480)
		font-size: 68px
		margin-top: 140px
	i
		display: inline-block
		margin: 0 20px -10px 0
		+s(tv)
		+r(480)
			+s(tv_m)

.s_container
	text-align: left
	padding-bottom: 150px
	min-width: 1180px
	width: 100%
	+clr
	+r(1300)
		width: 1180px
		margin: 0 auto
		padding: 0 10px 150px
	+r(480)
		min-width: 460px
		width: 460px
		padding-bottom: 75px
	img
		display: inline-block

.s_text
	float: left
	width: 440px
	margin-bottom: 70px
	// margin-right: 80px
	// margin-right: 3%
	+clr
	+r(480)
		margin-bottom: 35px
	h2
		font-size: 40px
		color: #F3BE1E
		text-transform: uppercase
		+eb
	p
		font-size: 18px
		color: #8DA1BA
		+el
.s_big_pic
	width: 740px
	float: right
	margin-bottom: 60px
	box-shadow: 0 10px 50px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset
	+r(1300)
		width: 650px
		margin-right: 20px
	+r(480)
		width: 440px
		margin: 0 auto 35px
		float: left
.s_small_pic
	float: left
	width: 465px
	// margin-right: 85px
	margin-bottom: 65px
	box-shadow: 0 10px 50px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset
	+r(480)
		width: 440px
		margin-bottom: 35px
.in2
	-webkit-box-shadow: none
	box-shadow: none