
.bg__in3
	background-color: #c11115
	height: 420px
.inside__img
	position: relative
	margin: 0 auto
	width: 100%
	height: 5990px
	overflow: hidden
	background-color: #1c1c1c
	background-image: url("../img/bg_ins3.png")
	-webkit-background-size: contain
	-o-background-size: contain
	background-size: contain
	+r(1400)
		background-image: url("../img/bg_ins3_1400.png")
	+r(830)
		background-image: url("../img/bg_ins3_m.png")
	+r(480)
		width: 480px
		min-width: 480px
		// height: 3445px
	&_wrap
		position: absolute
		width: 2000px
		left: 50%
		margin-left: -1000px
		text-align: center
	img
		// width: 1200px
		margin: -16px auto 0
		+r(480)
			width: 560px

.bad
	-webkit-transform: translate(0, -106px)
	-moz-transform: translate(0, -106px)
	-ms-transform: translate(0, -106px)
	-o-transform: translate(0, -106px)
	transform: translate(0, -106px)
	+r(480)
		display: inline-block
		height: 50px
		background-color: #1c1c1c
		-webkit-transform: translate(150px, -66px)
		-moz-transform: translate(150px, -66px)
		-ms-transform: translate(150px, -66px)
		-o-transform: translate(150px, -66px)
		transform: translate(150px, -66px)
	a
		+bad
		background-color: #1c1c1c
		z-index: 300
		font-size: 36px
		padding: 10px 20px
		+r(480)
			font-size: 30px
			border-bottom: 2px solid #fff
			padding: 0 20px
