
.bg__in2
	background-color: #a095c7
	height: 645px
	+r(480)
		height: 480px

#main
	position: relative
	margin-top: -150px
	+clr
	+r(480)
		margin-top: -100px
.carousel
	position: relative
	margin: 0 auto
	z-index: 2
	width: 943px
	+r(480)
		width: 460px
		margin-bottom: -50px
	&__main
		margin-bottom: 20px
		z-index: 2
		img
			width: 100%
	&__preview
		height: 750px
		background-color: #FCCC50
		text-align: center
		+r(480)
			height: auto
			padding-bottom: 140px
			padding-top: 50px
		.slick-slide
			cursor: pointer
			margin: 0 30px
			width: 280px!important
			+r(1400)
				margin: 0 20px
			+r(1300)
				width: 246px!important
				+r(480)
					width: 460px!important
			&:hover
				img
					+opacity(1)
			&.is-active
				margin: 0 30px
				// width: 275px!important
				// width: 280px!important
				&:after
					display: block
				img
					+opacity(1)
			&:after
				content: ""
				position: absolute
				display: none
				z-index: 2
				top: 0
				right: 0
				bottom: 0
				left: 0
			img
				margin: 0 auto
				box-shadow: 0 10px 50px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset
				+opacity(.8)
				+r(1400)
					box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.1) inset
		.slick-list
			// margin-top: -50px
			padding-top: 155px
			z-index: 2
			height: 55% // ??
			width: 95%
			margin: -50px auto 0
			//max-width: 1680px  // ??
			// +r(1400)
			// 	max-width: 1265px
			// 	margin: -50px auto 0
		.slick-prev
			left: 0px
			top: 0
			margin-top: 0
			height: 100%
			width: 30px
			&:before
				content: ""
				position: absolute
				top: 50%
				margin-top: -25px
				left: 0px
				z-index: 10
				+opacity(1)
				+s(prew_white)
			&:hover
				&:before
					+opacity(.8)
		.slick-next
			right: 0
			&:before
				content: ""
				position: absolute
				top: 50%
				margin-top: -25px
				right: 0px
				z-index: 10
				+opacity(1)
				+s(next_white)
			&:hover
				&:before
					+opacity(.8)
	+ .product
		position: relative
		top: -15px

.product-wrap
	+clr

.main
	margin: 0 auto
	position: relative
	padding: 55px 50px
	background: #fff
	max-width: 1080px
	+clr
.main__wrap
	position: relative
	+clr


.carousel__title
	position: relative
	text-align: center
	-webkit-transform: translateY(-135px)
	-moz-transform: translateY(-135px)
	-ms-transform: translateY(-135px)
	-o-transform: translateY(-135px)
	transform: translateY(-135px)
	height: 0
	a
		font-size: 56px
		color: #FFF
		border-bottom: 4px solid #fff
		&:hover
			border-bottom: 4px solid $n