
.bg__in3
	background-color: #c11115
	height: 420px
.inside__img
	position: relative
	min-width: 1200px
	margin: 0 auto
	width: 100%
	height: 5990px
	overflow: hidden
	background-color: #1c1c1c
	// height: 5968px
	// background-image: url("../img/bg_ins3.png")
	// background: rgba(193,17,20,1)
	// background: -moz-linear-gradient(-10, rgba(193,17,20,1) 0%, rgba(193,17,20,1) 7%, rgba(28,28,28,1) 7%, rgba(28,28,28,1) 19%, rgba(240,119,33,1) 19%, rgba(240,119,33,1) 40%, rgba(28,28,28,1) 40%, rgba(28,28,28,1) 47%, rgba(84,42,44,1) 47%, rgba(84,42,44,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(84,42,44,1) 60%, rgba(28,28,28,1) 60%, rgba(28,28,28,1) 70%, rgba(193,17,20,1) 70%, rgba(193,17,20,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(240,119,33,1) 100%)

	// background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(193,17,20,1)), color-stop(7%, rgba(193,17,20,1)), color-stop(7%, rgba(28,28,28,1)), color-stop(19%, rgba(28,28,28,1)), color-stop(19%, rgba(240,119,33,1)), color-stop(40%, rgba(240,119,33,1)), color-stop(40%, rgba(28,28,28,1)), color-stop(47%, rgba(28,28,28,1)), color-stop(47%, rgba(84,42,44,1)), color-stop(60%, rgba(28,28,28,1)), color-stop(60%, rgba(28,28,28,1)), color-stop(70%, rgba(193,17,20,1)), color-stop(70%, rgba(193,17,20,1)), color-stop(85%, rgba(28,28,28,1)), color-stop(85%, rgba(28,28,28,1)), color-stop(100%, rgba(240,119,33,1)), color-stop(100%, rgba(240,119,33,1)))

	// background: -webkit-linear-gradient(-10, rgba(193,17,20,1) 0%, rgba(193,17,20,1) 7%, rgba(28,28,28,1) 7%, rgba(28,28,28,1) 19%, rgba(240,119,33,1) 19%, rgba(240,119,33,1) 40%, rgba(28,28,28,1) 40%, rgba(28,28,28,1) 47%, rgba(84,42,44,1) 47%, rgba(84,42,44,1) 60%, rgba(28,28,28,1) 60%, rgba(28,28,28,1) 70%, rgba(193,17,20,1) 70%, rgba(193,17,20,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(240,119,33,1) 100%)

	// background: -o-linear-gradient(-10, rgba(193,17,20,1) 0%, rgba(193,17,20,1) 7%, rgba(28,28,28,1) 7%, rgba(28,28,28,1) 19%, rgba(240,119,33,1) 19%, rgba(240,119,33,1) 40%, rgba(28,28,28,1) 40%, rgba(28,28,28,1) 47%, rgba(84,42,44,1) 47%, rgba(84,42,44,1) 60%, rgba(28,28,28,1) 60%, rgba(28,28,28,1) 70%, rgba(193,17,20,1) 70%, rgba(193,17,20,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(240,119,33,1) 100%)

	// background: -ms-linear-gradient(-10, rgba(193,17,20,1) 0%, rgba(193,17,20,1) 7%, rgba(28,28,28,1) 7%, rgba(28,28,28,1) 19%, rgba(240,119,33,1) 19%, rgba(240,119,33,1) 40%, rgba(28,28,28,1) 40%, rgba(28,28,28,1) 47%, rgba(84,42,44,1) 47%, rgba(84,42,44,1) 60%, rgba(28,28,28,1) 60%, rgba(28,28,28,1) 70%, rgba(193,17,20,1) 70%, rgba(193,17,20,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(240,119,33,1) 100% )

	// background: linear-gradient(170deg, rgba(193,17,20,1) 0%, rgba(193,17,20,1) 7%, rgba(28,28,28,1) 7%, rgba(28,28,28,1) 19%, rgba(240,119,33,1) 19%, rgba(240,119,33,1) 40%, rgba(28,28,28,1) 40%, rgba(28,28,28,1) 47%, rgba(84,42,44,1) 47%, rgba(84,42,44,1) 60%, rgba(28,28,28,1) 60%, rgba(28,28,28,1) 70%, rgba(193,17,20,1) 70%, rgba(193,17,20,1) 85%, rgba(28,28,28,1) 85%, rgba(28,28,28,1) 100%, rgba(240,119,33,1) 100%)
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c11114', endColorstr='#1c1c1c', GradientType=1 )
	+r(480)
		width: 480px
		min-width: 480px
		height: 1805px
	&_wrap
		position: absolute
		width: 2000px
		left: 50%
		margin-left: -1000px
		text-align: center
	img
		// width: 1200px
		margin: 0 auto
		+r(480)
			width: 560px

.bad
	-webkit-transform: translate(0, -106px)
	-moz-transform: translate(0, -106px)
	-ms-transform: translate(0, -106px)
	-o-transform: translate(0, -106px)
	transform: translate(0, -106px)
	+r(480)
		display: inline-block
		height: 50px
		background-color: #1c1c1c
		-webkit-transform: translate(160px, -75px)
		-moz-transform: translate(160px, -75px)
		-ms-transform: translate(160px, -75px)
		-o-transform: translate(160px, -75px)
		transform: translate(160px, -75px)
	a
		+bad
		background-color: #1c1c1c
		z-index: 300
		font-size: 36px
		padding: 5px
		+r(480)
			font-size: 30px
			border-bottom: 2px solid #fff
