.service
	margin: 98px auto 0
	overflow: hidden
	+r(830)
		margin-top: 133px
	+r(480)
		margin-top: 70px
	+r(320)
		margin-top: 65px
.sidebar
	position: relative
	width: 25%
	float: left
	font-size: 0
	background-color: #FFF
	z-index: 5
	min-width: 270px
	margin-right: 100px
	+r(950)
		margin-right: 50px
	+r(840)
		margin-right: 25px
	+r(600)
		min-width: 100%
		width: 100%
		height: 90px
		+tr(.5s)
		overflow: hidden
	button
		position: relative
		width: 65px
		height: 90px
		background-color: $n
		z-index: 9
		&:after
			content: ""
			position: absolute
			top: 44px
			right: -20px
			+s(b_menu_bird)
		i
			display: block
			width: 43px
			height: 30px
			margin-left: 10px
			background-image: url("../img/b_menu.png")
	li
		position: relative
		display: block
		height: 125px
		border: 1px solid #EFEFEF
		border-left: 0px
		border-top: 0px
		+vertical
		+r(600)
			display: none
		&:hover
			&:after
				left: 0
				transition: left .2s
			i
				+gray
		&:after
			content: ""
			background-color: #ffd739
			position: absolute
			top: 0
			left: -700px
			height: 100%
			width: 100%
	a
		position: relative
		display: inline-block
		vertical-align: middle
		line-height: 1
		width: 68.75%
		font-size: 16px
		font-weight: bold
		color: #474747
		padding-left: 70px
		text-transform: uppercase
		text-align: left
		z-index: 4
		+r(1200)
			font-size: 14px
		+r(320)
			padding-top: 0px
			padding-left: 95px
		i
			position: absolute
			top: 15px
			left: 35px
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			display: inline-block
			+r(320)
				top: 10px
	.is-active
		background-color: #ffd739
		+r(600)
			// visibility: visible
			background-color: $n
			display: block
			height: 90px
			margin-top: -90px
			i
				display: none
.expand
	height: 1063px
	-moz-transition: height 3s ease
	-o-transition: height 3s ease
	-webkit-transition: height 3s ease
	-ms-transition: height 3s ease
	transition: height 3s ease
	button
		background-color: #ccc
		&:after
			display: none
	li
		display: block
	.is-active
		background-color: #ffd739
		display: block
		height: 90px
		margin-top: 0
		i
			display: block
.w1
	+s(w1)
.w2
	+s(w2)
.w3
	+s(w3)
.w4
	+s(w4)
.w5
	+s(w5)
.w6
	+s(w6)
.w7
	+s(w7)
.w8
	+s(w8)
.service__item
	position: relative
	padding: 180px 0 0px
	margin-left: 20px
	background: url("../img/dsgn__bg.png")
	+clr
	+r(1000)
		padding-top: 90px
	+r(730)
		padding-top: 50px
	+r(600)
		width: 100%
		min-height: 100%
	&_wrap
		position: relative
		z-index: 2
		+clr
		img
			float: left
			height: auto
			margin: 0 30px 25px 0px
			+r(1000)
				width: 200px
			+r(840)
				width: 140px
				margin: 10px 10px 10px 0
			+r(735)
				display: none
		.show600
			display: block
			width: 90%
			margin: 20px 0 40px
	&_contant
		margin-right: 100px
		+r(1400)
			margin-right: 50px
		+r(865)
			margin-right: 25px
			padding-bottom: 20px
		h2
			font-size: 42px
			color: #0E1314
			font-weight: bold
			margin-bottom: 30px
			text-transform: uppercase
			+r(1200)
				font-size: 36px
			+r(480)
				line-height: 40px
				margin-bottom: 10px
		p
			font-size: 15px
			color: #5F5F5F

.dsgn
	// position: relative
	width: 100%
	z-index: 1
	&__img
		position: absolute
		top: 0
		left: 50%
		width: 1500px
		margin-left: -1250px
		text-align: center


